:root {
    --main-font-family: 'Roboto',
        sans-serif;
    --secondary-font-family: 'Raleway',
        sans-serif;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #404BBF;
    --secondary-accent-color: #4D5AE5;
}

body {
    color: var(--primary-text-color);
    font-family: var(--main-font-family);
}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
    
}

.list:hover,
.list:focus {
    color: var(--accent-color);
}

/* header */
.page-header {
    background-color: #FFFFFF;
}

.menu-link {
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.logo-link {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);


}

.logo-link-accent {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

}

.contact-information {
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);
    
}
/* hero */
.hero { 
    background-color: var(--primary-text-color)
}
 .main-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1,07;
    text-align: center;
    letter-spacing: 0.02em;
 }

.button {
    font-family: inherit;
    cursor: pointer;
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;
}

 .modal-open-btn {
   color: #FFFFFF; 
   background-color: var(--secondary-accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
 }
 .modal-open-btn:hover,
 .modal-open-btn:focus {
    background-color: #404BBF;
 }

 /* feauters */
.feauters {
    background-color: #FFFFFF;
}
 .feauters-title {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }

 .feauters-suptitle {
    font-family: var(--main-font-family);
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }
 /* activity */
 .activity {
    background-color: #E7E9FC;
 }

 .activity-title {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
 }
